

.body {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    color: #333F48 ;
    font-family: "Rubik", sans-serif !important;
}

.cabecera {
    display: inline;
    z-index: 999;
}

.menu {
    position: fixed;
    top: 300px;
    left: 180px;
    width: 20%;
    height: 510px;
    /* Establece el alto del menú al 100% del viewport */
   
    /* Añade scroll vertical si es necesario */
    background-color: #f8f9fa;
    /* Cambia el color de fondo según tus preferencias */
    padding: 20px;
}

.mainsecciones {
    margin-left: 20%;
    /* Ajusta el margen izquierdo para dejar espacio para el menú */
    padding: 20px;
    margin-top: 0px;
    /* Añade un margen superior para evitar la superposición con el menú */
}

.body h2 {
    margin-top: 40px;
    font-weight: 700;
}

.body h3{
    font-size: 1.5rem;
}
.body p {
    text-align: justify;
    line-height: normal;
}

.body b {
    color: #00a3e1;
}

.body strong {

    font-weight: 600;
}

.body a {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #1c262b !important;
    padding-left: 15px;
}

.body a:hover{
    color: white !important;
    padding-left: 15px;
}
.body ul a:hover{
    color: white !important;
    padding-left: 20px !important;

}


.menu a:hover {
    background-color: #00a3e1;
    color: white !important;
    border-radius: 20px;
    padding: 2px 5px;    
    width: 100%;
    font-weight: 500;
    cursor:pointer;

}


.body a::marker {
    color: #00a3e1;
    font-weight: 800;
}

.body ul a {
    margin-top: 0px;
    font-weight: 400;
    color: #1c262b !important;
    padding-left: 20px !important;
}

.body ol {
    list-style: none;
}


.body pre {
    background-color: #1c262b;
    color: white;
    border-radius: 10px;


}

.code-editor {

    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
}

.seccion{
    margin: 20px 0px 50px 0px;
}

.body .btn {
    padding: 1rem !important;
    height: 100% !important;
}

.body .mainsecciones ul li {
    list-style: disc;
}

#cards-internas {
    display: none;
}

.bu-footer{
    display: none;
}